* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: linear-gradient(30deg, blue, purple);
}

body {
    background: #E5E5E5;
    font-family: 'RR';
}

.aside {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px;
    transition: width 300ms;
    overflow: hidden;

}

.aside__menu {
    margin-left: 15px;


}

aside:hover {
    width: 234px;
}

.aside__menu-link {
    color: #939393;
    ;
    margin-bottom: 55px;
    display: flex;
    align-items: center;
    transition: color 500ms;
}

.aside__menu-link:hover {
    color: #2A86B1;
}

.aside__menu-link i {
    font-size: 30px;
    margin-right: 30px;

}

.aside__menu-link span {
    font-size: 18px;
    line-height: 21px;

}

.header__content {
    height: 500px;
    background: url(../images/header.png) no-repeat center /cover white;
    border-radius: 14px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 62px;
}

.header__content-title {
    font-family: 'RB';
    font-size: 50px;
    line-height: 59px;
    color: #464748;
    max-width: 332px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.header__content-title::before {
    content: '';
    display: block;
    width: 100px;
    height: 50px;
    background: #3FA5D5;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: -2;
}



.header__content-text {
    font-size: 16px;
    line-height: 19px;
    color: #464748;
    max-width: 314px;
    width: 100%;
    text-align: justify;
    margin: 25px 0;
}

.btn {
    background: #3FA5D5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    max-width: 211px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
    color: white;
    padding: 7px 0;
}

.main__top-item {
    max-width: 255px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 18px 19px 18px;
}

.main__top-title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2A86B1;
    font-family: 'RB';
}

.main__top-item i {
    font-size: 100px;
    color: #3FA5D5;
    margin-top: 60px;
    margin-bottom: 70px;
}

.main__top {
    display: flex;
    justify-content: space-between;
}

.main__bottom-left {
    max-width: 825px;
}

.main__bottom-right {
    max-width: 255px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main__bottom-title {
    font-size: 20px;
    line-height: 24px;
    color: #686868;
    font-family: 'RB';
    margin-bottom: 22px;
    margin-left: 22px;
}

.main__bottom {
    margin-top: 50px;
}

.main__bottom-text {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
    color: #545454;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}


.main__bottom-text:nth-of-type(2) {
    margin: 15px 0;

}

.main__bottom {
    display: flex;
    justify-content: space-between;
}

.main__bottom-item {
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 15px;
    
}

.main__bottom-item img {
    margin-right: 15px;

}

.main__bottom-info h3 {
    font-size: 17px;
    line-height: 94.5%;
    margin-bottom: 5px;
    color: #323232;
}

.main__bottom-info p {
    font-size: 14px;
    line-height: 94.5%;
    font-family: 'RL';
}

.main__bottom-box{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.footer{
    background: #3FA5D5;
    padding: 40px 0;
    margin-top: 44px;
}


.footer__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer__left-title{
    font-size: 50px;
line-height: 59px;
color: #FFFFFF;
font-family: 'RB';
}

.footer__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__right-number{
    font-size: 18px;
line-height: 21px;
color: #FFFFFF;
font-family: 'RB';
margin-bottom: 15px;
}

.footer__right-mail{
    line-height: 19px;
color: #FFFFFF;
font-style: 16px;
}

@media(max-width:1400px) {
    .aside{
        width: 100%;
        height: auto;
        z-index: 9999999;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;
    }
    .aside:hover{
        width: 100%;
    }
    .aside__menu {
        display: flex;
        margin: 0;
        gap: 20px;
    }
    .aside__menu-link{
        margin: 0;
    }
    .aside__photo {
        display: none;
    }
    .header {
        margin-top: 250px;
    }
}


@media(max-width:1140px) {
    .main-top{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .main__top-item{
        max-width: 45%;
    }
    .main__bottom{
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .main__bottom-left, .main__bottom-right{
        max-width: 100%;
    }
    .main__bottom-box{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;
    }
    .main__bottom-item{
        max-width: 40%;
    }
}

@media (max-width:800px) {
    .aside{
        flex-direction: column;
        row-gap: 20px;
    }
    .aside__menu{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__box{
        flex-direction: column;
        row-gap: 20px;
    }
    .footer__left-title{
        font-size: 30px;
        line-height: 30px;
    }
}

@media (max-width:576px) {
    .main__top-item{
        max-width: 100%;
    }
    .main__bottom-item {
        max-width: 100%;
    }
    .header__content{
        padding: 0 15px;
        align-items: center;
    }
    .header__content-title::before{
        display: none;
    }
    .header__content-title{
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }
    .aside__menu-link i{
        font-size: 24px;
    }
}

